* {
  box-sizing: border-box;
}

:root {
  --border-color: #dbdbdb;
}
.container-header {
  box-shadow: 0px 2px 10px var(--border-color);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}
.container-header .container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrapper-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-logo img {
  width: 50px;
}


.container-link-infor {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-link-infor {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-infor-item {
  margin: 0 10px;
  display: grid;
  align-items: center;
}
.link-infor-item a {
  display: grid;
  align-items: center;
}
.link-infor-item i,
.link-eye-item {
  font-size: 22px;
  color: #333;
}
.link-eye-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.link-eye-item i,
.link-eye-item span {
  opacity: .6;
}
.link-eye-item span {
  position: absolute;
  left: calc(100%);
  margin-left: 5px;
  font-size: 14px;
  user-select: none;
}
.link-infor-item i:hover {
  cursor: pointer;
  opacity: .5;
}
.container-slider {
  position: relative;
}
.wrapperslider {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url('/resources/img/cover.png');
  background-size: cover;
}

.wrapper-typing-effect {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.typing-effect-txt {
  width: 250px;
  font-size: 35px;
  margin: 0;
  position: relative;
}
.txt-automatic {
  display: flex;
  position: absolute;
  left: calc(10% + 30px);
  flex-direction: row;
}
/* .typing-effect {
  border-bottom: 3px solid #149ddd;
} */
.typing-effect,
.standing-brick {
  font-size: 35px;
}


.container-infor,
.container-inf-pesonal {
  background: rgba(0, 0, 0, 0.035);
  box-shadow: 0 0 5px var(--border-color);
}
.wrapper-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper-avatar,
.wrapper-name,
.link-seconary {
  display: flex;
  justify-content: center;
}
.wrapper-avatar img {
  background-color: #333;
  border-radius: 50%;
  width: 120px;
  border: 8px solid #cfd0d4;
}
.wrapper-name span {
  font-size: 30px;
  line-height: 1.5rem;
}
.link-seconary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container-follower {
  user-select: none;
  cursor: pointer;
}
.link-seconary .amount  {
  margin: 0 5px;
}
.link-follower,
.link-following {
  text-decoration: none;
  color: #333;
}
.link-follower:hover,
.link-following:hover {
  color: #333;
  text-decoration: none !important;
}
#follower {
  margin: 0px 9px;
}
#follower:hover {
  color: #EC1C23;
}
.link-following {
  display: flex;
  align-items: center;
}
.container-following {
  display: flex;
  align-items: center;
}
.container-following i {
  margin: 0 5px;
  font-size: 5px;
}
/* .inf-pesonal-wrapper {
  margin-top: 10px;
} */
.title-wrapper-conten h2 {
  position: relative;
  padding-bottom: 5px;
}
.title-wrapper-conten h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.container-skill-list {
  background: rgba(0, 0, 0, 0.035);
  box-shadow: 0 0 5px var(--border-color);
  padding-top: 10px;
  padding-bottom: 10px;
}
.language-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dot-myskill {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.languages {
  font-weight: 700;
  font-size: 15px;
  margin-left: 10px;
  line-height: 25px;
  color: #38bdae;
}

/* .container-contact {} */
.contact-wrapper,
.form-contact-wrapper {
  background: rgba(0, 0, 0, 0.035);
  box-shadow: 0 0 5px var(--border-color);
}
.contact-wrapper {
  padding: 12px 0;
}

.contact-wrapper_email,
.contact-wrapper_numberphone {
  display: flex;
  align-items: center;
}
.contact-wrapper_email span,
.contact-wrapper_numberphone span {
  margin: 0 15px;
  color: #333;
  font-size: 20px;
}
.contact-wrapper_email i,
.contact-wrapper_numberphone i {
  font-size: 20px;
  float: left;
  width: 44px;
  height: 44px;
  color: #fff;
  background: #149ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.contact-wrapper_email i:hover,
.contact-wrapper_numberphone i:hover,
.btn-submit button:hover {
  background: #dff3fc;
  color: #149ddd;
  cursor: pointer;
}

/* .container-form-infor {
  display: flex;
  flex-direction: row;
} */

.btn-submit button {
  border: 0;
  padding: 10px 24px;
  color: #fff;
  background: #149ddd;
  transition: 0.4s;
  border-radius: 4px;
}







.container-footer {
  box-shadow: 5px 0 10px #dfdfdf;
}
.container-copyright {
  display: flex;
  justify-content: center;
}

/* Reponsive */

.icon-mobile-tablet {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  left: calc(100% - 50px);
}
.icon-mobile-tablet #btn-open {
  padding: 12px 13px;
  border-radius: 50%;
  background-color: #149ddd;
  color: #fff;
}
.icon-mobile-tablet #btn-close {
  padding: 12px 15px;
  border-radius: 50%;
  background-color: #149ddd;
  color: #fff;
}
.modal-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  /* background-color: red; */
  z-index: 1000;
  transition: all 0.5s;
  transition: all ease-in-out 0.5s;
  background: rgba(0, 0, 0, 1);
  box-shadow: 0 0 5px var(--border-color);
  z-index: 1000;
  overflow: auto;
}

.profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}

.profile h2 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.nav-menu {
  padding: 30px 0;
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
}
.mobile-nav-active {
  overflow: hidden !important;
}
.mobile-nav-active #modal-mobile-infor {
  left: 0;
}

